@model IEnumerable<ElevenNote.Models.NoteListItem>

@{
    ViewBag.Title = "Index";
}

<h2>so many Notes</h2>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
@*ADDED Bootstrap Error Message in the View*@
@*.ContainsKey checks to see if that key is in the dictionary, but will not remove it*@
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
@*@{ int i = 0; }*@

@foreach (var item in Model)
{
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">@Html.DisplayFor(modelItem => item.Title)</h1>
            <p class="lead">@Html.DisplayFor(modelItem => item.CreatedUtc, new { htmlAttributes = new { rows = 10 } })</p>
            @Html.ActionLink("Edit", "Edit", new { id = item.NoteId }) |
            @Html.ActionLink("Details", "Details", new { id = item.NoteId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.NoteId }) |
            @*@Html.ActionLink("Add Comment", "CreateCommentWithBulletinId", "Comment", new { id = item.BulletinId }, null)*@
        </div>
    </div>
    @*<div class="container">

        <div class="card">

            <div class="card-body">
                <h5 class="card-title">  @Html.DisplayFor(modelItem => item.Title)</h5>
                <p class="card-text">  @Html.DisplayFor(modelItem => item.CreatedUtc)</p>
            </div>
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        @Html.ActionLink("Edit Note", "Edit", "Note", new { id = item.NoteId }, null)
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("WTF", "Details", new { id = item.NoteId })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Delete", "Delete", new { id = item.NoteId })
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel-group" id="accordion_@i">
            <div class="panel panel-default" id="panel_@i">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapseOne_@i" href="#collapseOne_@i">
                            <span class="glyphicon glyphicon-collapse-down"> </span> Album Quick View
                        </a>
                    </h4>
                </div>
                <div id="collapseOne_@i" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">

                            @foreach (var thing in Model)
                            {
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                                            <h4>Listening progress: </h4>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="">
                                                    <span class="sr-only">60% Complete (warning)</span>
                                                </div>
                                            </div>
                                            <h4>Favorite progress:</h4>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
                                                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="">
                                                    <span class="sr-only">60% Complete (warning)</span>
                                                </div>
                                            </div>
                                            <div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="panel-footer">Panel Footer</div>
                </div>
            </div>

        </div>
        </div>
        i++;*@

}


@section scripts
    {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        var TeamDetailPostBackURL = '/Home/Details';
        $(function () {
            $(".anchorDetail").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });

    </script>

}
