@model IEnumerable<ElevenNote.Models.NoteListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*ADDED Bootstrap Error Message in the View*@
@*.ContainsKey checks to see if that key is in the dictionary, but will not remove it*@
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<div class="">

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsStarred)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsStarred, new { Id = item.NoteId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                     @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@

                @*anonymous classes communicate to the NoteController and select the appropriate Note*@
                @Html.ActionLink("Edit Note", "Edit", "Note", new { id = item.NoteId }, null)
                @*@Html.ActionLink("Edit", "Edit", new { id = item.NoteId }) |*@
                @Html.ActionLink("View Details", "Details", "Note", new { id = item.NoteId }, null)
                @*@Html.ActionLink("Details", "Details", new { id = item.NoteId }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.NoteId })
                @Html.ActionLink("popup", "ModalPopUp", "Note", new { id = item.NoteId }, null)
                <button id="btnShowModal" type="button"
                        class="btn btn-sm btn-default pull-left col-lg-11 button button4">
                    Satya Modals
                </button>
                <a href="javascript:void(0);" class="anchorDetail" data-id="@item.NoteId">Details</a>
            </td>
        </tr>
    }

</table>

@section scripts
    {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        var TeamDetailPostBackURL = '/Home/Details';
        $(function () {
            $(".anchorDetail").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });

    </script>

}
